.half {
  & :hover {
    box-shadow: 0px 15px 25px 0px #242323b9;
  }
  margin-bottom: 120px;
  &__img-2 {
    display: none;
  }
  &__img-3 {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .half {
    margin-bottom: 88px;
    &__img {
      display: none;
    }
    &__img-2 {
      display: inline;
    }
  }
}
@media only screen and (max-width: 600px) {
  .half {
    margin-bottom: 54px;
    &__img-2 {
      display: none;
    }
    &__img-3 {
      display: block;
    }
  }
}
